#!/usr/env bash

GIT_ROOT="$(git rev-parse --show-toplevel)"

# AWS
export AWS_PROFILE=dev-admin # default, but can be overridden
export AWS_CONFIG_FILE="${GIT_ROOT}/config/aws.ini"

# Kubernetes
export KUBECONFIG="$HOME/.kube/config:${GIT_ROOT}/config/kubeconfig.yaml"

# Environment variables
export ETH_RPC_URL=http://localhost:8545