# Compiler files
cache/
out/
abis/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Dotenv file
.env
.envrc.local*

# Soldeer
/dependencies

# LLM backup files
*.bak

# Generated docs
docs
book

# Local deployment files
deploy/local.json

# Generated reports
reports/*.csv
