# Compiler files
cache/
out/
abis/

# Ignores development broadcast logs
!/broadcast
/broadcast/*

# Dotenv file
.env
.envrc.local*

# Soldeer
/dependencies

# LLM backup files
*.bak

# Generated docs
docs
book

# Local deployment files
deploy/local.json

# Generated reports
reports/*.csv

# OS specific files
.DS_Store
